/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /*common coding start*/
    .cm_pipe {
        height: 36px;
    }
    .cm_h1 {
        margin: 24px 0 0;
        font-size: 24px;
    }

    /*portfolio start*/
    .work_sample {
        margin-top: 30px;
    }
    .ws_li {
        margin-top: 10px;
    }
    .ws_btn {
        margin: 0 4px;
        padding: 6px 10px;
    }
    .work {
        padding-bottom: 60px;
    }
    .w_box {
        margin-top: 26px;
    }
    .w_boxcont {
        padding-left: 0;
        text-align: center;
    }
    .w_boxicon {
        font-size: 35px;
        top: 35%;
        transform: translate(-50%, -35%);
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /*common coding start*/
    .cm_pipe {
        height: 40px;
    }
    .cm_h1 {
        margin: 26px 0 0;
        font-size: 26px;
    }

    /*portfolio start*/
    .work {
        padding-bottom: 60px;
    }
    .work_sample {
        margin-top: 30px;
    }
    .ws_btn {
        margin: 0 3px;
        padding: 6px 8px;
    }
    .w_box {
        margin-top: 20px;
    }
    .w_boxicon {
        font-size: 32px;
        top: 30%;
        transform: translate(-50%, -30%);
    }


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    /*common coding start*/
    .cm_pipe {
        height: 40px;
    }
    .cm_h1 {
        margin: 26px 0 0;
        font-size: 26px;
    }

    /*portfolio start*/
    .work {
        padding-bottom: 70px;
    }
    .work_sample {
        margin-top: 40px;
    }
    .ws_btn {
        margin: 0 5px;
    }


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    /*postfolio start*/
    .work {
        padding-bottom: 90px;
    }
    .work_sample {
        margin-top: 50px;
    }
    .ws_btn {
        margin: 0 8px;
    }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {


}

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {



}